* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}


#inicio {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("img/imagenTrading2.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top:0;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: #7f50ff
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
  color: #7f50ff
}
#inicio .contenido header .contenido-header .seleccionado{
  color: #7f50ff;

}
#inicio .contenido header .contenido-header .redes a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover {
  color: #7f50ff
}

#inicio .contenido .presetancion {
  max-width: 1100px;
  height:100vh;
  margin: auto;
  columns: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#inicio .contenido .presetancion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presetancion h2{
  font-size: 55px; 
  margin-bottom: 20px;
  text-align: center;
}


#inicio .contenido .presetancion h2 span {
  font-size:45px;
  color: #7f50ff
}


#inicio .contenido .presetancion .descripcion {
  max-width: 700px;
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
}


#inicio .contenido .presetancion a{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#inicio .contenido .presetancion a:hover {
  background-color: #7f50ff
}


#icono-nav{
  color: #fff;
  display: none;
}



/*  SECCION SOBRE MI */
 
#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
 
}

#sobremi .contendor-foto {
  max-width: 400px;
  margin-right: 80px;
} 

 #sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #e7dfdf;
} 

 #sobremi .sobremi {
  margin: 0 40px;
} 

 
#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #7f50ff;
  text-decoration-thickness: 5px;
} 

 
#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
} 

 #sobremi .sobremi h2 span {
  color: #7f50ff
} 


 #sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
} 

 
#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}


#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: .5s;
}


#sobremi .sobremi a:hover{
  background-color: #7f50ff;
  color: #fff;
}

/* seccion video */
.video {
margin-top: -90px;
text-align: center;
margin-bottom: 100px;

  
}
.video iframe {
  width: 70%;
  height: 450px;
}
/* 
Seccion habilidades 
  */

.contenedor-skills {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("./img/imagenTrading1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}



.contenedor-skills .skill{
  max-width: 600px;
  margin: 30px auto;
  color: wheat;
}

.contenedor-skills h3{
  color: #7f50ff;
  font-size: 35px;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}


.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}


.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}

/* estilo que se aplica con javascript */
.contenedor-skills .skill .barra .barra-progreso1{
  background-color: #7458b8;
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2{
  background-color: #7458b8;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3{
  background-color: #7458b8;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4{
  background-color: #7458b8;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}



/* creamos las animaciones de las barras  */


@keyframes progreso1{
  0%{
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes progreso2{
  0%{
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso3{
  0%{
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso4{
  0%{
    width: 0;
  }
  100% {
    width: 95%;
  }
}


/* seccion contacto  */

#contacto {
  padding: 100px 15px;
}

 #contacto .titulo-seccion{
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #7f50ff;
  text-decoration-thickness: 5px;
} 

 #contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
} 

 #contecto .contenedor-form .fila {
  margin-bottom: 20px;
} 

 #contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
  
} 

 #contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #7f50ff;
  margin-bottom: 25px;
} 

 #contacto .contenedor-form .mitad input {
  width: 48%;
} 

#contacto .contenedor-form .input-full {
  width: 100%;
}

#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: .5s;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

#contacto .btn-enviar:hover {
  background-color: #7f50ff;
  color: #fff;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

/* seccion criptos */

#cripto {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,.7)), url("./img/imagenTrading9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  margin-top: 200px;
  
}
#cripto h1 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 50px;

}

.crypto {
  color: wheat;
}


/* seccion responsive  */


 @media screen and (max-width:800px) {
  .redes {
    display: none; 
  }
  nav{
    display: none;
  }
  nav.responsive{
    display: block;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul{
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li{
    margin: 5px 0;
  }
  #icono-nav{
    display: block;
  }
  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }
  #sobremi {
    padding: 50px 0;
    display: block;
  }
  #sobremi h3{
    text-align: center;
  }
  #sobremi .contenedor-foto{
    padding-left: 150px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 8px;
    width: 100%;
  }
  #sobremi .sobremi .titulo-seccion{
    text-align: center;
  }
  #sobremi .sobremi h2{
    font-size: 25px;
    text-align: center;
  }
  #servicios{
    padding: 50px 15px;
  }

  #servicios .fila{
    display: block;
  }
  #servicios .fila .servicio {
    margin: 10px auto;
  }
  #contenedor-skills {
    padding: 50px 20px;
  }
  #portafolio {
    padding: 50px 0;
  }
  #portafolio .fila {
    display: block;
  }
  #portafolio .fila .proyecto {
    margin: 10px auto;
  }
  #contacto {
    padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad{
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
 }


@media screen and (max-width:1065) {
  .video iframe{
    max-width: 100%;
    height: 100px;
   
  }
  .video {
    margin-top:-500px;
  }
} 

 @media screen and (max-width:658px) {
  #sobremi .contenedor-foto img{
    margin: auto;
    width: 100%;
    height: auto;
  }
 }

 @media screen and (max-width:582px) {
  #sobremi .contenedor-foto{
    padding-left: 30px;
    margin: auto;
  }
 }

 @media screen and (max-width:532px) {
  #sobremi .contenedor-foto{
    padding-left: 15px;
    margin: auto;
  }
}
  @media screen and (max-width: 514px) {
    #sobremi img {
    max-width: 100%;
    height: auto;
    }   
   }
  









/* cards de servicios  */

 #servicios {
  margin-top: -102px;
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
 }
 #servicios .titulo-seccion {
  font-size: 35px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #7f50ff;
  text-decoration-thickness: 5px;
 }
 #servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
 }

 #servicios .fila .servicio {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: .5s;
 }

 #servicios .fila .servicio:hover{
  box-shadow: 5px 5px 10px #7f50ff, -5px -5px 10px #7f50ff ;
 }

 #servicios .fila .servicio h4{
  font-size: 22px;
  margin-bottom: 25px;
 }

 #servicios .fila .servicio .icono img {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color:  #af96f3;
  padding: 5px;
  margin-bottom: 25px;
 }


 #servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
 }

 #servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
 }

 #servicios .fila .servicio p {
  font-size: 14px;
  line-height:22px ;
 }






































body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .crypto {
    width: 250px;
    margin: 20px;
    text-align: center;
  }
  
  .crypto img {
    height: 100px;
  }
  
  .crypto h2 {
    margin-top: 10px;
  }
  
  .crypto p {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  

  h1 {
    text-align: center;
  }